*
!.gitignore
!fourier.Rproj
!index.qmd
!index.html
!references.bib
!NEWS.md
!README.qmd
!README.md
!data
!mee.csl
!LICENSE
!renv.lock
!supplementary_note.qmd
!supplementary_note.html
!cover_letter.qmd
!cover_letter.html
